body {
    font-family: Georgia;
    color: #EAE8FF;
    background: #343A40;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px 0 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #343A40;
    
}


nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    list-style-type: none;
    margin: 0;
    
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul li :hover{
    font-size: 1.7em;
    margin-top: -4px
}

.blogs{
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
.blogs a{
    text-decoration: ;
    color: #EAE8FF;
}
p{
    font-size: larger;
}

h1, .blogs{
    padding-top: 30px;
}