body {
    font-family: Georgia;
    color: #EAE8FF;
    background: #343A40;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px 0 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #343A40;
    
}


nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    list-style-type: none;
    margin: 0;
    
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.5em;
}


.story{
    font-size: larger;
}
